<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ja222um Gitlab issues platform</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
     {{> footer}}
</body>
</html>