<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ja222um Gitlab issues platform</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <template id="issueTemplate">
        <div class="issue">
            <div class="header">
                <a href="" class="titleLink"></a>
                <span class="news"></span>
                <span class="openStatus"></span>
            </div>
            <div class="status">
                <span>Opened on <span class="createdAt"></span> by </span><a href="" class="author"> <img src="" class="avatar"></a>
            </div>
            <div class="labels">
                    <!--<a href="" class="label"></a>-->
            </div>
            <div class="description">
            </div>
            <div class="footer">
                <span class="comments">Comments: 0</span>
                <span class="votes">Upvotes/Downvotes: 0 / 0</span>
                <span class="lastUpdated">Last updated on <span class="updatedAt"></span></span>
            </div>
        </div> 
    </template>
    <template id="notificationTemplate">
        <div class="notification">
            <div class="header">
                <span class="action"></span>
            </div>
            <div class="status">
              <span><a href="" class="notificationLink"></a> on <span class="notificationDate"></span></span>
            </div>
            <div class="description">
              <a href=""><img src="" class="notificationAvatar"></a>
              <div class="content">
                <span>Done by <a href="" class="notificationAuthor"></a></span>
                <span class="text"></span>
              </div>
            </div>
          </div>
      </template>
</head>

<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
     {{> footer}}
</body>
</html>